<h3> Create a User Account </h3>

<%= form_for @user do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password

    <%= f.label :confirm_password %>
    <%= f.password_field :confirm_password

    <%= f.submit "Create Account" %>
<% end %>